@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-4xl my-4;
    }
    h2 {
      @apply text-3xl my-4;
    }
    h3 {
      @apply text-2xl my-4;
    }
    h4 {
      @apply text-xl my-4;
    }
    h5 {
      @apply text-xl my-4;
    }
    h6 {
      @apply text-xl my-4;
    }
    a {
      @apply text-dark-accent underline;
    }
    blockquote {
      @apply border-l-4 border-accent-color p-3 my-4 bg-violet-50;
    }
    ul {
      @apply list-disc ml-8;
    }
    ol {
      @apply list-decimal ml-8;
    }
    li {
      @apply my-2;
    }
    code {
      @apply text-sm font-mono bg-violet-50 rounded p-1;
    }
    pre {
      @apply bg-inherit p-4 my-4;
    }
    pre code {
      @apply bg-inherit;
    }
    nav a {
       @apply text-inherit;
    }
    h1 a {
        @apply text-inherit;
    }
    pre code span::selection {
        @apply bg-violet-900;
      }
    pre code::selection {
        @apply bg-violet-900;
      }
    br {
        @apply my-2;
      }
    p {
        @apply mb-2.5;
    }
}
::selection {
    background: #c4b5fd;
  }
  
@font-face {
  font-family: 'Chicago';
  src: url('/fonts/ChicagoNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes flyIn {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10px);
    opacity: 0;
  }
}