---
import Page from '../layouts/Page.astro';
const pageTitle = "blog"
---
<Page pageTitle={pageTitle}>
    <h1>my blawg :3</h1>
    <p>imma post blawgingtons.</p>
    <ul class="list-inside">
      <li>
        <a href="/posts/post-1/">mai first blawg post!</a>
      </li>
    </ul>
</Page>