---
import Page from '../layouts/Page.astro';
const pageTitle = "dvdkm"
---

<Page pageTitle={pageTitle}>
    <h1>hello i'm david - physics enthusiast, part-time computer hater, and full-time freak</h1>
    <h1>you should check out <a href="/blog" class="underline text-dark-accent">my blog</a>, and my physics resource <a href="/tokp" class="underline text-dark-accent">tokp</a>, they're super cool</h1>
</Page>