---
import Page from '../layouts/Page.astro';
const pageTitle = "dvdkm"
---

<Page pageTitle={pageTitle}>
    <h1 class="text-lg">hello i'm david - computer/physics enthusiast and music aficionado</h1>
    <h1 class="text-lg">you should check out <a href="/blog" class="underline text-dark-accent">my blog</a> it's super cool</h1>
    
    <h1 class="py-2">this site is new and still under construction.</h1>
    <!--
       <div class="pt-4 text-lg">
            <h1>I'm currently an undergraduate at <strong>UC Berkeley</strong> studying physics and computer science. As a academic, I've been a member of the Undergraduate Laboratory at Berkeley program and collaborated on projects with Quantum Computing at Berkeley.</h1> 
        </div>
    -->
 
    
</Page>