---
import Page from '../layouts/Page.astro';
const pageTitle = "dvdkm"
---

<Page pageTitle={pageTitle}>
    <h1>hello i'm david - physics enthusiast, part-time computer hater, and full-time freak</h1>
</Page>