---
import Page from '../layouts/Page.astro';
const pageTitle = "dvdkm"
---

<Page pageTitle={pageTitle}>
    <div class="page-content flex items-center gap-8">
        <div>
            <h1 class="text-2xl font-bold">about</h1>
            <h1 class="paragraph">I'm David, an undergraduate at UC Berkeley studying physics and computer science.</h1>
            <h1 class="paragraph">I contribute to superconducting qubit research at the <a href="https://aqt.lbl.gov/about-aqt/qnl/">Quantum Nanoelectronics Lab</a> 
                at UC Berkeley. At <a href="https://launchpad.studentorg.berkeley.edu/">Launchpad</a>, I work on
                projects with interesting applications of machine learning.
            </h1>
        </div>
        <img src="/public/assets/images/pfp.png" class="w-[43vh] h-[43vh] object-cover" />
    </div>
    <!--
        <div class="pt-4 text-lg">
            <h1>I'm currently an undergraduate at <strong>UC Berkeley</strong> studying physics and computer science. As a academic, I've been a member of the Undergraduate Laboratory at Berkeley program and collaborated on projects with Quantum Computing at Berkeley.</h1> 
        </div>
    -->
</Page>