---
import Page from '../layouts/Page.astro';
const pageTitle = "projects"
---

<Page pageTitle={pageTitle}>    
    <div class="page-content">
        <h1 class="py-1"><a href="https://github.com/gheustace/quantumalg">Quantum cryptographic algorithms</a>: an implementation of a 
            homomorphic certified deletion scheme with quantum computing at berkeley</h1>
    </div>
</Page>