---
import Page from '../layouts/Page.astro';
const pageTitle = "projects"
---

<Page pageTitle={pageTitle}>
    <h1 class="text-4xl pb-2">this page is under construction!!</h1>
    
    <h1 class="py-1"><a href="/tokp" class="underline text-accent-color">tokp</a>: a collection of physics notes.</h1>
    <h1 class="py-1"><a href="https://github.com/gheustace/quantumalg" class="underline text-accent-color">quantum cryptographic algorithms</a>: an implementation of a homomorphic certified deletion scheme with quantum computing at berkeley</h1>
</Page>