---
import Container from "./container.astro";
import { Separator } from "$lib/components/ui/separator";
---
<Container>
    <div class="pb-4 pt-20 text-base px-2">
        <div class="flex space-x-3">
            <h1 class="italic">github</h1>
            <Separator class="bg-zinc-300 self-center flex-1"/>
            <a class="underline text-dark-accent" href="https://github.com/dvdawg">@dvdawg</a>
        </div>
        <div class="flex space-x-3">
            <h1 class="italic">email</h1>
            <Separator class="bg-zinc-300 self-center flex-1"/>
            <a class="underline text-dark-accent" href="mailto:davidkm@berkeley.edu">davidkm@berkeley.edu</a>
        </div>
    </div>
</Container>