---
import Container from "./container.astro";
const menuitems = [
    { name: "home", href: "/" },
    { name: "projects", href: "/projects/"},
    { name: "blog", href: "/blog/" },
];
const pathname = Astro.url.pathname;
import { Separator } from "$lib/components/ui/separator";
const link = menuitems.find(({ href }) => pathname.startsWith(href));
---
<Container>
    <div class="flex justify-between mb-3 pb-8 pt-12"> 
        <h1 class="text-4xl font-bold"><a href="/" class="hover:text-black" >
            <span>
                <p class="bg-scroll">dvd</p>
                <header class="font-semibold">km</header>
            </span>
        </h1>
        <nav class='text-lg place-self-center space-x-1.5 underline underline-offset-4 decoration-inherit'>
            {
                menuitems.map((link) => (
                  <a
                    href={link.href}
                    class:list={[
                      "hover:text-accent-color transition-colors",
                      { "text-accent-color": link.href === pathname },
                    ]}>
                    {link.name}
                  </a>
                ))
              }
        </nav>
    </div>
</Container>

<style>
    p {
        background-image: url(../../assets/images/dvdgradient-breathe.gif);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: lightgray;
        
    }

    span {
        display: inline-flex;
    }
    
    
</style>

