---
---
<div class="header-container">
    <header class="info-header">
        <h1>david kim</h1>
    </header>
    <nav>
        <a href="/">home</a>
        <a href="/blog/">blog</a>
    </nav>
</div>

<style>
    .info-header {
        flex: 1;
    }
    .header-container {
        display: flex;
        flex-wrap: nowrap;
    }
</style>