---
import Page from "./Page.astro";
import '@fontsource/space-mono';
import BlogHeader from '../components/BlogHeader.astro';
import '../styles/blog.css';
import Header from '../components/Header.astro';
import Container from '../components/container.astro';
const { frontmatter } = Astro.props
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../assets/images/dvd.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <Container>
      <BlogHeader frontmatter={frontmatter}/>
      <slot />
    </Container>
  </body>
</html>