---
import '@fontsource/space-mono';
import BlogHeader from '../components/BlogHeader.astro';
import '../styles/blog.css';
import Header from '../components/Header.astro';
import Container from '../components/container.astro';
const { frontmatter } = Astro.props
const { pageTitle } = Astro.props;
const anim = {
  old: {
    name: "flyOut",
    duration: "350ms",
    easing: "ease",
    fillMode: "forwards",
  },
  new: {
    name: "flyIn",
    duration: "350ms",
    delay: "350ms",
    easing: "ease",
    fillMode: "backwards",
  },
};
const animation = {
  forwards: anim,
  backwards: anim,
};
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../assets/images/dvd.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    
    <title>{pageTitle}</title>
  </head>
  <body transition:animate={animation}>
    <div class="max-w-4xl mx-auto px-32 pb-20">
      <Header />
      <BlogHeader frontmatter={frontmatter}/>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
        integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
        crossorigin="anonymous"
      />
      <slot />
    </div>
  </body>
</html>

