---
import Header from '../components/Header.astro';
import Container from '../components/container.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;
import "$lib/styles/app.css";

const anim = {
  old: {
    name: "flyOut",
    duration: "350ms",
    easing: "ease",
    fillMode: "forwards",
  },
  new: {
    name: "flyIn",
    duration: "350ms",
    delay: "350ms",
    easing: "ease",
    fillMode: "backwards",
  },
};

const animation = {
  forwards: anim,
  backwards: anim,
};
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/images/dvdawg.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <script defer src="https://cloud.umami.is/script.js" data-website-id="7a390d78-01a3-49da-8dd2-189cf9b10983"></script>
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body transition:animate={animation}>
    <Header transition:persist />
    <Container>
      <slot />
    </Container>
    <Footer />
  </body>
</html>